.link-container {
  /* From https://css.glass */
  background: rgba(174, 174, 174, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
}
