@import "tailwindcss";

/* -------------------------------
   Light Mode (default)
-------------------------------- */
:root {
  --bg-main: #0e0e0e;
  /* --bg-main: #000000; */
  --bg-secondary: #f2f4f7;
  --text-color: #ffffff;
  --text-light: #475569;
  --card-bg: rgba(255, 255, 255, 0.6);
  --border-color: rgba(0, 0, 0, 0.1);
  --glass-bg: rgba(255, 255, 255, 0.25);
}

@font-face {
  font-family: font-main;
  src: "assets/fonts/superfont.woff2";
}

@font-face {
  font-family: font-sub;
  src: url();
}

* {
  box-sizing: border-box;
  /* font-family: monospace; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}